.alignnone {
	margin: 0 1em 1em 0;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
}

* {
  &:last-child {
    & > .alignright, & > .alignleft, & > .alignnone, & > .aligncenter {
      margin: 0;      
    }
  }
}

@include breakpoint(small down) {
	.alignright, .alignleft, .alignnone {
		float: none;
		margin: 0 auto 1em;
	}
}

.wp-caption {
	max-width: 100%; /* Image does not overflow the content area */
	padding: rem-calc(4 4 10);
	border: 1px solid #f0f0f0;
	background: #fff;
	text-align: center;

	img {
		width: auto;
		margin-bottom: rem-calc(12);
	}

	figcaption {
		margin-bottom: 0;
		font-size: rem-calc(14);
	}
}

.gallery-caption {
	padding: rem-calc(8);
	font-size: rem-calc(12);
	line-height: 1.4;
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: calc(1.5 * 1rem);
}

.gallery-item {
	$gap: rem-calc(-zf-get-bp-val($grid-margin-gutters, 'small') / 2);
	display: inline-block;
	width: 100%;
	margin-right: $gap;
	margin-bottom: $gap;
	vertical-align: top;
	text-align: center;

	&:last-of-type {
		padding-right: 0;
	}

	> div > a {
		display: block;
		line-height: 0;
		box-shadow: 0 0 0 0 transparent;

		&:focus {
			box-shadow: 0 0 0 2px #0073aa;
		}
	}
}

@for $i from 2 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			$gap: rem-calc(-zf-get-bp-val($grid-margin-gutters, 'small') / 2);
			max-width: calc((100% - #{$gap} * #{$i - 1}) / #{$i});

			&:nth-of-type(#{$i}n+#{$i}) {
				margin-right: 0;
			}
		}
	}
}

#wpadminbar {
	-webkit-transform: translateZ(0);
}

.wp-video {
	width: 100% !important;

	.mejs-container {
		width: 100% !important;
		height: auto !important;
	}
}

.mejs-mediaelement {
	position: static !important;
}

mediaelementwrapper {
	display: block;
}

.wp-video-shortcode video, video.wp-video-shortcode {
	display: block !important;
	width: 100% !important;
	height: auto !important;
}

/* Pagination */

ul.pagination {
	@include list-unstyled;
	margin: rem-calc(16 0);
	text-align: center;

	li {
		display: inline-block;
		margin: rem-calc(0 4);
		padding: 0;
		line-height: 1.5;

		span, a {
			display: block;
			padding: 0 rem-calc(8);

			&.current {
				display: block;
				background: $main-color;
				color: #fff;
			}
		}
		
		> .pagination-arrow{
			&.disabled {
				cursor: not-allowed;
				opacity: 0.7;
			}
		}
	}
}


/* Comments block */

#comments {
	padding-top: rem-calc(32);
}

.comment-list {
	@include list-unstyled;
	margin-bottom: rem-calc(20);
}

.comment {
	position: relative;
	margin-top: rem-calc(16);

	.children {
		list-style: none;
	}
}

.comment-meta {
	font-size: rem-calc(14);
}

.comment-metadata {
	margin-top: rem-calc(4);
	color: #666;
}

.comment-content {
	margin-top: rem-calc(16);
	padding-left: rem-calc(16);
	border-left: 1px solid #ddd;
	font-size: rem-calc(14);
}

.reply {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

.comment-reply-link {
	display: block;
	padding: 0.33333rem 0.5rem;
	border-radius: 0;
	background: #777;
	color: #fefefe;
	font-size: 0.8rem;
	line-height: 1;
	white-space: nowrap;

	&:hover, &:focus {
		background-color: $main-color;
		color: #fff;
		text-decoration: none;
	}
}

.comment-form {
	display: flex;
	flex-flow: row wrap;
}

.comment-notes,
.comment-form-comment {
	flex: 1 0 100%;
}

.comment-form-comment {
	order: 1;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	flex: 1 1 auto;
	flex-basis: calc(33.3333% - #{rem-calc(20)});

	@include breakpoint(small down) {
		flex-basis: 100%;
	}
}

.comment-form-author,
.comment-form-email {
	@include breakpoint(medium) {
		margin-right: rem-calc(30);
	}
}

.comment-form-cookies-consent,
.comment-form .form-submit {
	order: 2;
}

.comment-form .form-submit {
	flex-basis: 100%;
}